# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# vi
*~
*.swp
*.swo
*.dSYM
a.out
tags

# other
#data
doc
acsmx
acmf
test
nohup.out
gunittest
# some tmp file
data/model_file
data/output_file.*
data/ssq.txt.bak
data/svm-org
data/test_file.*
lucky.*
tmp_output.*
